@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900,900i&display=swap');
$gray: hsl(0, 0%, 75%);
$violet: #eff1f7;
$blue: hsl(255, 11%, 22%);
$violet-very-dark: hsl(260, 8%, 14%);
$white: hsl(0, 0%, 100%);
$black: #35323e;
$red: hsl(0, 87%, 67%);

$cyan: hsl(180, 66%, 49%);
$violet-dark: hsl(257, 27%, 26%);


*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	Font-size: 18px
}
ul{
	list-style: none;
}
body{
	width: 90%;
	max-width: 1200px;
	margin: auto;
}
header{
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	margin: 0 100px;

}

.user{
	display:flex;
	height: 42px;
}
.primary-button{
	padding: 0 31px;
	background-color: $cyan;
	color: $white;
	border-radius: 50px;
	cursor: pointer;
	line-height: 42px;
}
.secondary-button{
	padding: 0 31px;
	background-color: $white;
	color: $gray;
	border-radius: 50px;
	cursor: pointer;
	line-height: 42px;
}
.main-menu{
	display: flex;
	li{
		cursor: pointer;
		margin: auto 10px;
		&.item{
			color: $gray;
			font-size: 19px;
		}
		&.logo{
		font-size: 37px;
		margin-right: 42px;
		font-weight: bolder;
			color: $black;
		}
	}
}

.center{
	margin-left: 100px;
	display: flex;
	justify-content: space-between;
	.title-descr{
		width: 60%;
		h1{
			font-size: 4rem;
			font-weight: bolder;
			line-height: 4.5rem;
			color:$black;
		}
		p{
			font-size: 24px;
			color: $gray;
			margin: 23px 0;
		}
		.primary-button{
			width: 102px;
		}
	}
	.working{
		width: 40%;
		img{
			width: 100%;
		}
	}
}

.search{
	background-image: url("../../images/bg-shorten-desktop.svg");
	background-color: $violet-dark;
	height: 100px;
	display: flex;
	justify-content: center;
	margin: 30px 100px;
	border-radius: 9px;
	.search-box{
		margin: auto 15px;
		width: 77%;
		height: 37%;
		&.error{
			input{
				border: 1px solid red;
			}
		}
	}

	input{
		width: 100%;
		height: 95%;
		border-radius: 9px;
		text-indent: 20px;
	}
	span.error{
		display: none;
		color: red;
	}

	input::-webkit-input-placeholder {
		margin-left: 50px;
		font-size: 20px;
	}
	.primary-button{
		margin: auto 0;
		border-radius: 9px;
		min-width: 103px;
		margin-right: 15px;
	}
}

.result.actived{
	background-color: $violet;
	padding: 20px;
	border-radius: 9px;
	.item{
		line-height: 42px;
		border-radius: 9px;
		padding: 13px;
		background-color: $white;
		display: flex;
		justify-content: space-between;
		margin: 27px 0;
		.actions{
			display: flex;
			.short-link{
				margin-right: 32px;
				color: $cyan;

			}
			.copy{
				border-radius: 9px;
			}
			.copied{
				background-color: $violet-dark;
			}
		}
	}
}

.details{
	background-color: $violet;
	padding: 1px;
	z-index: -1;
	position: relative;
	margin-top: -81px;
	.title-desc{
		margin: 0 auto;
		margin-top: 141px;
		width: 60%;
		text-align: center;
		h2{
			font-size: 38px;
			font-weight: bolder;
		}
		p{
			color:$gray;
		}
	}
	.cards{
		margin: 56px 100px;
		height: 350px;
		display: flex;
		ul{
			display: flex;
			justify-content: space-around;
			li{
				position: relative;
				background-color: $white;
				width: 24%;
				margin: 1px 1px;
				padding: 31px;
				padding-top: 0px;
				.icon{
					margin-bottom: 11px;
					margin-top: -55px;
					img{
						margin: 15px 17px;
						width: 80px;
						height: auto;
						left: 50%;
						top: -40px;
						background: #3b3054;
						border-radius: 50%;
						object-fit: none;
						transform: translateX(-50%);

					}
				}

				h3{
					font-weight: bolder;
					margin-bottom: 20px;
				}
				p{
					font-size: 15px;
					color: $gray;
				}
				&:after {
					content: ' ';
					position: absolute;
					display: block;
					background: #2acfcf;
					width: 30px;
					height: 8px;
					bottom: auto;
					left: auto;
					top: 50%;
					right: -30px;
					transform: translateY(-50%);
				}
			}
			li.one{
				align-self: self-start;
			}
			li.two{
				align-self: center;
			}
			li.three{
				align-self: flex-end;
				&:after{
					display: none;
				}
			}
		}
	}

}


.more-info{
	background-image: url("../../images/bg-boost-desktop.svg");
	background-color: $violet-dark;
	margin: 1px;
	padding: 50px 30%;
	h2{
		text-align: center;
		color: $white;
		font-size: 28px;
		margin-bottom: 20px;
	}
	.primary-button{
		max-width: 100px;
		margin: auto;
	}
}

footer{
	background-color:$violet-very-dark ;
	color:$white;
	.info{
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-around;
		display: flex;
		padding: 50px;
		li{
			color:$gray ;
		}
		h2{
			color:white ;
			font-size: 37px;
			font-weight: bolder;

		}
		h4{
			color:white ;
			margin-bottom: 20px;
		}
		.network{
			ul{
				display: flex;
			}

			li a{
				height: 25px;
				width: 25px;
				display: block;
				background-repeat: no-repeat;
				margin-left: 20px;
			}
			.fb a{
				background-image: url("../../images/icon-facebook.svg");
			}
			.tw a{
				background-image: url("../../images/icon-twitter.svg");
			}
			.pi a{
				background-image: url("../../images/icon-pinterest.svg");
			}
			.inst a{
				background-image: url("../../images/icon-instagram.svg");
			}

		}
	}
}