@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$gray: hsl(0, 0%, 75%);
$violet: hsl(257, 7%, 63%);
$blue: hsl(255, 11%, 22%);
$violet-very-dark: hsl(260, 8%, 14%);
$white: hsl(0, 0%, 100%);

$red: hsl(0, 87%, 67%);

$cyan: hsl(180, 66%, 49%);
$violet-dark: hsl(257, 27%, 26%);


*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	Font-size: 18px
}
ul{
	list-style: none;
}
body{
	width: 90%;
	max-width: 1000px;
	margin: auto;
}
header{
	display: flex;
	justify-content: space-between;
	padding: 50px 0;

}

.user{
	display:flex;
	height: 42px;
}
.primary-button{
	padding: 0 31px;
	background-color: $cyan;
	color: $white;
	border-radius: 50px;
	cursor: pointer;
	line-height: 42px;
}
.secondary-button{
	padding: 0 31px;
	background-color: $white;
	color: $gray;
	border-radius: 50px;
	cursor: pointer;
	line-height: 42px;
}
.main-menu{
	display: flex;
	li{
		cursor: pointer;
		margin: auto 10px;
		&.item{
			color: $gray;
			font-size: 19px;
		}
		&.logo{
		font-size: 37px;
		margin-right: 42px;
		font-weight: bolder;
		}
	}
}

.center{
	display: flex;
	justify-content: space-between;
	.title-descr{
		width: 60%;
		h1{
			font-size: 75px;
			font-weight: bolder;
		}
		p{
			font-size: 24px;
			color: $gray;
			margin: 23px 0;
		}
		.primary-button{
			width: 102px;
		}
	}
	.working{
		width: 40%;
		img{
			width: 100%;
		}
	}
}

.search{
	background-image: url("../../images/bg-shorten-desktop.svg");
	background-color: $violet-dark;
	height: 100px;
	display: flex;
	justify-content: center;
	margin: 30px 0;
	border-radius: 9px;
	input{
		margin: auto 15px;
		width: 77%;
		height: 37%;
		border-radius: 9px;
		text-indent: 20px;
	}

	input::-webkit-input-placeholder {
		margin-left: 50px;
		font-size: 20px;
	}
	.primary-button{
		margin: auto 0;
		border-radius: 9px;
	}
}

.result.actived{
	background-color: $violet;
	padding: 20px;
	border-radius: 9px;
	.item{
		line-height: 42px;
		border-radius: 9px;
		padding: 13px;
		background-color: $white;
		display: flex;
		justify-content: space-between;
		margin: 27px 0;
		.actions{
			display: flex;
			.short-link{
				margin-right: 32px;
				color: $cyan;

			}
			.copy{
				border-radius: 9px;
			}
			.copied{
				background-color: $violet-dark;
			}
		}
	}
}